//colors
$color-white: #fff; //white
$color-black: #000; //black
$color-primary-light: #C8C4BD;
$color-primary-light-2: #e5dfd5; //pale silver
$color-primary-dark: #6E6B68; //dim grey 
$color-secondary: #B68781; //old rose
$color-three: #814A41; //tuscan red
$color-four: #CDA5A9; //pastel pink
$color-five: #98938C; //spanish grey

//font sizes
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
$gutter-vertical-small: 4rem;


