.main-nav,
.main {
  position: relative; 
}
.main-nav {
  background: $color-secondary;
  height: 6.5rem;
  z-index: 150;
  margin-bottom: 2rem;
}
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-logo {
  float: left;
}
