.section-about {
	padding: 10rem 0;
	background-color: $color-primary-light;
}

.section-photos {
	padding: 10rem 0;
	background-color: #814A41;
}

.section-services {
	padding: 10rem 0;
	background-color: $color-primary-light;
}