.section-about {
	padding: 10rem 0;
	background-color: $color-primary-light-2;
}

.section-quote {
	padding: 10rem 0;
	height: 100%;
	background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/redo-8.jpg);
    background-size: cover;
}

.section-services {
	padding: 10rem 0;
	background-color: $color-primary-light-2;
}